.footer{
    background-color: #11122b;
    color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}

.footer > .footer-logo img{
    width:180px;
    height:100%;
    filter: opacity(50%);
}